# CORE
NODE_ENV=
PORT=

# DATABASE
DATABASE_URL=

# REDIS
REDIS_URL=

# AUTH
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

# OPENAI
OPENAI_API_KEY=

# APOLLO
APOLLO_API_KEY=

# EMAIL
RESEND_API_KEY=
EMAIL_FROM=

# STRIPE
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# APP
APP_URL=
FRONTEND_URL=